{% block PartHasIngredientType_label %}{% endblock %}
{% block PartHasIngredientType_errors %}{% endblock %}

{%- block PartHasIngredientType_widget -%}

<div class="row horizontal-form">
  {{ form_row(form.position) }}
  <div class="col s3">
    {{ form_row(form.value) }}
  </div>
  <div class="col s3">
    {{ form_row(form.unit) }}
  </div>
  <div class="col s3">
    {{ form_row(form.ingredient, {"class" : "autocomplete"}) }}
  </div>
  <div class="col s3">
      <a href="#" class="btn"><i class="material-icons">drag_handle</i></a>
      <a href="#" class="collection-remove btn"><i class="material-icons">delete</i></a>
      <a href="#" class="collection-add btn"><i class="material-icons">add</i></a>
  </div>
</div>
{%- endblock -%}
