{% block RecipeHasPartType_label %}{% endblock %}
{% block RecipeHasPartType_errors %}{% endblock %}

{%- block RecipeHasPartType_widget -%}

<div class="row horizontal-form">
  {{ form_row(form.position) }}
  <div class="col s9">
    {{ form_row(form.name) }}
  </div>
  <div class="col s3">
    <a href="#" class="btn"><i class="material-icons">drag_handle</i></a>
    <a href="#" class="collection-remove btn"><i class="material-icons">delete</i></a>
    <a href="#" class="collection-add btn"><i class="material-icons">add</i></a>
  </div>
  <div class="col s9">
    <h6 class="teal-text">Ingrédients :</h6>
    {{ form_row(form.ingredients) }}
  </div>
</div>
{%- endblock -%}
