{% block TimerType_label %}
{% endblock %}

{# better disposition of each elements #}
{% block TimerType_widget %}

<div class="row horizontal-form">
  {{ form_row(form.position) }}
  <div class="col s4">
    {{ form_row(form.name) }}
  </div>
  <div class="col s4">
    {{ form_row(form.time) }}
  </div>
  <div class="col s4">
    <a href="#" class="btn"><i class="material-icons">drag_handle</i></a>
    <a href="#" class="collection-remove btn"><i class="material-icons">delete</i></a>
    <a href="#" class="collection-add btn"><i class="material-icons">add</i></a>
  </div>
</div>

{% endblock %}
