<div class="row" id="ingredient___id___">
  <div class="input-field col s4">
    <input disabled type="text" id="recipe_ingredients___id___ingredient" name="recipe[ingredients][__id__][ingredient]" required="required" class="form-control">
    <label class="active" for="recipe_ingredients___id___ingredient">Ingrédient</label>
  </div>
  <div class="input-field col s4">
    <input disabled type="text" id="recipe_ingredients___id___value" name="recipe[ingredients][__id__][value]" required="required" class="form-control">
    <label class="active" or="recipe_ingredients___id___value">Quantité</label>
  </div>
  <div class="input-field col s1">
    <input disabled type="text" id="recipe_ingredients___id___unite">
    <label class="active" for="recipe_ingredients___id___unite">Unité</label>
  </div>
  <div class="col s3">
    <a class="waves-effect waves-light btn delete_ingredient_button" delete="#ingredient___id___"><i class="material-icons left">delete</i>Supprimer</a>
  </div>
</div>
