<html>
<head>
  {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" \>
  {% endstylesheets %}
  {% block stylesheets %}
  {% endblock %}
</head>
<body>
  <h1>Hello</h1>
</body>
</html>
