<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ asset('bundles/app/img/logo.png') }}"/>
  <title>Beat Eat</title>

  <!--- Twitter Metadata --->
  <meta name="twitter:site" content="@beatEat" />
  <meta name="twitter:title" content="Beat Eat" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="Re-decouvrez la cuisine grâce à Beat Eat !" />
  <meta name="twitter:url" content="{{ app.request.uri }}" />

  {% block stylesheets %}
  <!--- CSS --->
  <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" type="text/css" \>
  <link rel="stylesheet" href="{{ asset('bundles/app/fontawesome/css/fontawesome-all.min.css') }}" rel="stylesheet" \>
  <link rel="stylesheet" href="{{ asset('bundles/app/css/jquery-ui.min.css') }}" type="text/css" \>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  {% endblock %}

  <meta property="og:site_name" content="Beat Eat"/>
  <meta property="og:type" content="website" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:url" content="{{ app.request.uri }}" />
  <meta property="og:fb:admins" content="1053447628" />
  <meta property="fb:app_id" content="183207822388711"/>

  {% block head %}
  <!--- Facebook Metadata --->
  <meta property="og:title" content="BeatEat" />
  <meta property="og:image" content="https://beat-eat.com/bundles/app/img/logo.png" />
  {% endblock %}

</head>
<body>
  {% javascripts '@AppBundle/Resources/public/js/jquery-3.2.1.min.js'
  '@AppBundle/Resources/public/bootstrap/js/bootstrap.min.js'
  '@AppBundle/Resources/public/js/artyom.window.min.js'
  '@AppBundle/Resources/public/js/jquery.cookie.js' %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112740595-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112740595-1');
</script>


<!-- '@AppBundle/Resources/public/js/materialize.js' -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<header>
  <nav class="nav-extended" id="top-nav">
    <div class="nav-wrapper">
      <a id="left-bar-menu-button" href="#!" data-activates="slide-out" class="brand-logo button-collapse show-on-large show-on-medium-and-down"><i class="material-icons">menu</i></a>
      <ul id="social-media-wrapper">
        <li><a target="_blank" href="https://fb.me/beatEatRecipes"><i class="fab fa-facebook-square fa-2x"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/BeatEat2"><i class="fab fa-twitter-square fa-2x"></i></a></li>
        <li><a target="_blank" href="https://www.instagram.com/beat_eat_recipe"><i class="fab fa-instagram fa-2x"></i></a></li>
      </ul>
    </div>
    {% block extend_navbar %}
    {% endblock %}
  </nav>

  <ul id="slide-out" class="sidenav sidenav-fixed hidden-on-med-and-down">
    <a id="close_side_nav" class="hide-on-large-only" href="#"><i class="material-icons">close</i></a>
    <li id="logo_sidenav">
      <a href="{{ path('recipe_index')}}">
        <img src="{{ asset('bundles/app/img/logo.png') }}"></img>
      </a>
    </li>
    <li class="search">
      <div class="search-wrapper card">
        <input name="search" id="search"><i class="material-icons">search</i>
        <div class="search-results"></div>
      </div>
    </li>
    <li><a href="{{ path('homepage')}}"><i class="material-icons">home</i> Accueil</a></li>

    {% if app.user and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('app_admin_dashboard')}}"><i class="material-icons">account_balance</i> Admin</a></li>{% endif %}

    {% if app.user %}<li><a href="{{ path('dashboard')}}"><i class="material-icons">dashboard</i> Tableau de bord</a></li>{% endif %}
    {% if app.user %}<li><a href="{{ path('homepage')}}"><i class="material-icons">person</i> Mon Profil</a></li>{% endif %}

    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header"><i class="material-icons">library_books</i> Recettes</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="{{ path('recipe_index')}}">Toutes</a></li>
              {% for category in getCategories() %}
                <li><a href="{{ path('catgory_by_slug', {'slug':category.slug })}}">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </li>
      </ul>
    </li>


    <li><a href="{{ path('advance_search')}}"><i class="material-icons">search</i> Recherche avancée</a></li>

    {% block sidenav %}
    {% endblock %}

    {% if app.user %}
    <li><a href="{{ path('logout')}}"><i class="material-icons">power_settings_new</i> Déconnexion</a></li>
    {% else %}
    <li><a href="{{ path('login')}}"><i class="material-icons">power_settings_new</i> Connexion</a></li>
    {% endif %}


    {% block sidenavEnd %}
    {% endblock %}
  </ul>

  <div id="search_tab">
    <img id='search_tab_loader' src="{{ asset('bundles/app/img/loader.gif') }}"></img>
    <h5 class="header">Recettes</h5>
    <div id="search_tab_recipes_result" class="row">
    </div>
    <div id="search_tab_recipes_result_not_found" class="blue-grey-text">
      Aucune recette n'a été trouvée
    </div>
    <h5 class="header">Ingrédients</h5>
    <div id="search_tab_ingredients_result" class="row">
    </div>
    <div id="search_tab_ingredients_result_not_found" class="blue-grey-text">
      Aucun ingrédient n'a été trouvée
    </div>
  </div>
</header>


<main>
  <!-- <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->
  <div id="main-container" class="container">
    <div class="row">
      {% block body %}
      {% endblock %}
    </div>
  </div>
</main>


<!--- Scripts ->

<! Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
  FB.init({
    appId            : '183207822388711',
    autoLogAppEvents : true,
    xfbml            : true,
    version          : 'v3.1'
  });
};

(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/fr_FR/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script>
var changeTimer = false;

$("#search").keyup(function(){
  let inputSearch = $(this).val();
  if (inputSearch.length > 0) {
    $("#search_tab").show("slow");
    $("#search_tab_loader").show();
  }
  else {
    $("#search_tab").hide("slow");
  }

  if(changeTimer !== false) clearTimeout(changeTimer);
  changeTimer = setTimeout(function(){
    search_tab(inputSearch);
    changeTimer = false;
  },300);
});

function search_tab(term){
  $.ajax({
    url : '{{ path('recipe_search_autocomplete') }}',
    type : 'GET',
    data : {
      'term' : term
    },
    dataType:'json',
    success : function(data) {
      $("#search_tab_loader").hide();
      $("#search_tab_recipes_result").html("");
      $("#search_tab_ingredients_result").html("");

      //Display recipes
      if (data["recipes"].length > 0)
      $("#search_tab_recipes_result_not_found").hide("slow");
      else
      $("#search_tab_recipes_result_not_found").show("slow");

      $.each(data["recipes"], function(index, recipe) {
        let recipe_url = "{{ path('recipe_show', { 'slug': "__SLUG__" }) }}";
        recipe_url = recipe_url.replace("__SLUG__", recipe["slug"]);
        $("#search_tab_recipes_result").append("<a href='" + recipe_url + "'><div class='col s12'><div class='card'><div class='card-image'><img src='" + recipe["image"] + "'></div><div class='card-action'>" + recipe["name"] + "</div></div></div></a>");
      });

      //Display ingredients
      if (data["ingredients"].length > 0)
      $("#search_tab_ingredients_result_not_found").hide("slow");
      else
      $("#search_tab_ingredients_result_not_found").show("slow");

      $.each(data["ingredients"], function(index, ingredient) {
        // let recipe_url = "{{ path('recipe_show', { 'slug': "__SLUG__" }) }}";
        // recipe_url = recipe_url.replace("__SLUG__", ingredient["slug"]);
        $("#search_tab_ingredients_result").append("<div class='col s12'><div class='card'><div class='card-image'><div class='card-action'><a href='" + "#" + "'>" + ingredient["name"] + "</a></div></div></div>");
      });
      console.log(data);
    },
    error : function(request,error)
    {
      $("#search_tab_loader").hide();
      console.log(JSON.stringify(request));
    }
  });
}

// $('.button-collapse').sideNav({
//   menuWidth: 300, // Default is 300
//   edge: 'left', // Choose the horizontal origin
//   closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
//   draggable: false, // Choose whether you can drag to open on touch screens,
//   onOpen: function(el) {
//     $("header, main, footer, #ingredient-modal").css("padding-left", "300px");
//   },
//   onClose: function(el) {
//     $("header, main, footer, #ingredient-modal").css("padding-left", "0px");
//     $("#search_tab").hide("slow");
//   }
// }
// );

$(window).on("load", function() {
  $('.card-image').each(function(){
    var highestBox = 0;
    if($(this).height() > (highestBox)) {
      highestBox = $(this).height();
    }
    $('.card-image').height(highestBox);
  });

  $('.card-action').each(function(){
    var highestBox = 0;
    if($(this).height() > (highestBox)) {
      highestBox = $(this).height();
    }
    $('.card-action').height(highestBox);
  });
});

$(document).ready(function(){
  $('.collapsible').collapsible();

  $("#left-bar-menu-button").click(function() {
    $("#slide-out").toggleClass("hidden-on-med-and-down");
  });

  $("#close_side_nav").click(function(e) {
    e.preventDefault();
    $("#slide-out").toggleClass("hidden-on-med-and-down");
  })
});
</script>


<footer>
</footer>

{% block javascript %}
{% endblock %}

</body>
</html>
