{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
  <div class="col s12 row">
    <h4 class="teal-text">Mes dernières recettes visionnées</h4>
    <div class="row">
      {% for userHasHistory in histories %}
        {% set recipe = userHasHistory.recipe %}
        {% include 'recipe/recipe-card.html.twig' %}
      {% endfor %}
    </div>
  </div>
  <div class="col s12 row">
    <h4 class="teal-text">Mes dernières recettes favorites</h4>
    <div class="row">
      {% for userHasFavorite in favorites %}
        {% set recipe = userHasFavorite.recipe %}
        {% include 'recipe/recipe-card.html.twig' %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}
