{% extends 'base.html.twig' %}

{% block extend_navbar %}
<div class="nav-content">
  <nav>
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
        <li><a href="{{ path('app_admin_recipes') }}">Recipes</a></li>
        <li><a href="{{ path('app_admin_ingredient') }}">Ingredients</a></li>
        <li><a href="{{ path('app_admin_equipment') }}">Equipements</a></li>
      </ul>
    </div>
  </nav>
</div>
{% endblock %}

{% block body %}

{% endblock %}
