{% extends 'admin/base.html.twig' %}

{% block body %}
<div id="adminContent">
{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
{{ form_row(form.name) }}
<div class="row">
{{ form_row(form.description) }}
</div>
<div class="row">
{{ form_row(form.advice) }}
</div>

</div>
{{ form_end(form) }}

<script>
$(document).ready(function(){
  $('select').material_select();
});
</script>
{% endblock %}
