{% extends 'base.html.twig' %}

{% block body %}

{% if app.request.attributes.get('_route') == "catgory_by_slug" %}
  <h3>{{ category.name }}</h3>
{% endif %}

{% for recipe in recipes %}
{% include 'recipe/recipe-card.html.twig' %}
{% endfor %}

<div class="col s12 navigation text-center">
  {{ knp_pagination_render(recipes) }}
</div>

{% endblock %}
