<div class="col s12 m6">
  <div class="hoverable card sticky-action">
    <div class="card-image waves-effect waves-block waves-light row">
      <div class="col s7">
        {% if recipe.media %}
        <img class="activator" src="{% path recipe.media, 'big' %}">
        {% else %}
        <img class="activator" src="{{ asset('bundles/app/img/default.png') }}">
        {% endif %}
      </div>
      <div class="col s5 card-stats">
        <i class="flow-text material-icons">alarm</i> {{ recipe.preparationTime }} min<br>
        <i class="flow-text material-icons">whatshot</i> {% if recipe.cookTime is not null %}{{ recipe.cookTime }} min {% else %} -- {% endif %}<br>
        <i class="material-icons">restore</i> {% if recipe.restTime is not null %}{{ recipe.restTime }} min {% else %} -- {% endif %}<br>
      </div>
    </div>
    <div class="card-action">
      <div class="card-title activator grey-text text-darken-4">
        <div class="recipe-name">{{ recipe.name }}</div>
        <a href="{{ path('recipe_show', { 'slug': recipe.slug }) }}" class="card-show-btn btn waves-effect waves-light col s12">Voir</a>

        <!-- <a href="{{ path('recipe_show', { 'slug': recipe.slug }) }}" class="button-show right btn waves-effect waves-light">Voir
          <i class="material-icons right">send</i>
        </a> -->
      </div>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ recipe.name }}<i class="material-icons right">close</i></span>
        <p>
          Ingredients :
          <ul>
            {% for part in recipe.parts %}
              {% for partHasIngredient in part.ingredients %}
              <li>{{ partHasIngredient.ingredient.name }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        </p>
      </div>
    </div>
  </div>
