header,
main,
footer {
}

main {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

@media only screen and (max-width: 992px){
	.sidenav.sidenav-fixed {
	}
}

@media only screen and (min-width: 992px){
	header, main, footer {
		padding-left: 300px;
		-webkit-transition: padding 0.3s;
		transition: padding 0.3s;
	}
}
	#close_side_nav {
		top: 10px;
		right: 0;
		position: absolute;
		color: #ee6e73;
	}

#vignette_img {
	max-width: 100%;
}

.cropper-container{
		max-width: 100%;
}

.recipe-name{
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

	.recipe-name-wrapper{
	position: relative;
}

.recipe_like {
	right: 0 !important;
	position: absolute;
	top: 35%;
}

.modal-overlay{
	display:none !important;
}

.social-media-wrapper.facebook {
	background-color: #3B5998;
}

.social-media-wrapper.twitter {
	background-color: #1DA1F2;
}

.social-media-wrapper.instagram {
	background-color: #262626;
}

.social-media-wrapper {
	height: 50px !important;
	text-align: center
}
.social-medias {
	margin-bottom: 0!important;
	height: 50px;
	bottom: 60px;
	position: absolute;
	width: 100%;
}

.social-media-icon {
	margin-top: 10px;
}

@media only screen and (min-width: 992px){
	.fixed-action-btn.toolbar.active {
		width: CALC(100% - 300px)!important;
		margin-left:300px;
	}
}

@media only screen and (max-width: 600px){
	#social-media-wrapper li a {
		margin-top: 25%;
	}
}

@media only screen and (max-width: 992px){
	#social-media-wrapper {
		position: absolute;
		right: 0px;
	}
}

@media only screen and (min-width: 992px){
	#social-media-wrapper {
		position: absolute;
		right: 300px;
	}
}

.header {
	color: #ee6e73;
	font-weight: 300;
}

#adminContent {
	margin-top: 150px;
}

#ingredient-list {
	margin-top: 30px;
}

.number_person_parameter{
	/* color: #ee6e73; */
	font-weight: 600;
	font-size: 18px;
}

.sidenav .collapsible-header, .sidenav.fixed .collapsible-header{
	padding: 0 32px !important;
}

.sidenav .collapsible-body li a, .sidenav.fixed .collapsible-body li a{
	padding: 0 0 0 60px !important;
}

body {
	overflow: auto !important;
}

td.flex {
	display: flex !important;
}

td.flex > i {
	margin-right: 5px;
}


#slide-out {
	transition-timing-function: ease-out;
	transition-duration: 0.2s;
	transform: translateX(0);
	z-index: 1500;
}

@media only screen and (max-width: 992px) {
	.hidden-on-med-and-down {
		transform: translateX(-100%) !important;
	}
}

#left-bar-menu-button {
	left: 30px;
}

@media only screen and (max-width: 992px) {
	.ingredient_modal {
		margin-right: 40%;
	}

	#ingredient-modal {
		width: 40%;
	}

	#ingredient-modal .modal-content{
		padding: 5px;
	}

	#ingredient-modal .modal-content h4{
		font-size: 1.5em;
	}
}

.modal_ingredient_list {
	margin: 0px 0 5px 0px !important;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 5px;
}

.ingredient_modal {
	margin-right: 30%;
}

#ingredient-modal {
	top: 64px;
	z-index: 1000;
	background-color: white;
	height: CALC(100% - 64px);
	width: 30%;
	right: 0;
	margin-right: 0;
	max-height: none;
	left: unset;
}

#ingredient-modal:focus {
	outline: none !important;
}

.timer {
	top: 5px;
	position: relative;
	cursor: pointer;
}

.timer.play {
	cursor: pointer;
}

.time.reset {
	cursor: pointer;
}

.collection {
	border: none !important;
}

.button-show {
	position: absolute !important;
	bottom: 15px;
	right: 15px;
}

.card .card-image {
	margin-bottom: 0;
}

.card .card-image img {
	margin-left: auto;
	margin-right: auto;
	width: 100%!important;
}

.card-show-btn {
	bottom: 0;
	position: absolute !important;
	left: 0 !important;
}

.card-action {
	display: flex;
}

.card-stats{
	right: 0 !important;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.card .card-title {
	flex: 1;
	margin-bottom: 36px;
}

#bring_button_left_menu {
	margin-top: 15px;
	transform: translate(50%);
	left: -40%;
	position: relative;
}

.text-center {
	text-align: center;
}

.recipe_name {
	display: inline;
}

.recipe_name small {
	color: grey;
	font-size: 18px;
}

.card-image-wrapper {
		padding: 0 !important;
}

.recipe-traits {
	transform: translate(100%, -50%);
	right: 42% !important;
	top: 50%;
	position: absolute;
}

.recipe_note {
	display: block;
	text-align: center;
	vertical-align: text-top;
}
.recipe_note > .material-icons {
	margin-right: -5px;
}

.tap-target {
	color: white;
}

li.search {
	position: relative;
	left: 0;
	right: 0;
	margin-top: 15px;
	margin-bottom: 5px;
	padding: 1px 0 0 0;
	z-index: 2;
}

li.search .search-wrapper {
	margin: 0 12px;
	-webkit-transition: margin 0.25s ease;
	transition: margin 0.25s ease;
}

li.search .search-wrapper input#search {
	display: block;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	height: 45px;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 45px 0 15px;
	border: 0;
}

li.search .search-wrapper i.material-icons {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

li.search .search-results {
	margin: 0;
	border-top: 1px solid #e9e9e9;
	background-color: #fff;
}

#logo_sidenav {
	text-align: center;
	margin-top: 30px;
}

#logo_sidenav > a {
	height: auto;
}

#logo_sidenav > a:hover {
	background-color: transparent;
}

#ingredient-wrapper {
	margin-top: 20px;
	margin-bottom: 20px;
}

#recipe_steps {
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

#title_section {
	margin-bottom: 50px;
	margin-top: 30px;
}

.last-recipes-homepage {
	margin-top: 100px;
}

#top-nav {
	z-index: 1005;
	top: 0;
	position:fixed;
}

#main-container {
	margin-top: 100px;
}

.home-page-feature {
	padding: 10px!important;
}

.header {
	color: #ee6e73;
	font-weight: 300;
}

#search_tab{
	overflow: auto;
	display: none;
	position: fixed;
	z-index: 10000;
	width: 300px;
	background-color: white;
	height: 100%;
	top: 0;
}

#search_tab_loader {
	z-index: 300;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.search_tab_recipe_image{
	width: 100px;
}

.chrono {
	font-size: 12px;
  margin-left: 30px;
	color: lightpink;
}
