header,
main,
footer {
	-webkit-transition: padding 0.3s;
	transition: padding 0.3s;
}

td.flex {
	display: flex !important;
}

td.flex > i {
	margin-right: 5px;
}

.timer {
	float: right !important;
	margin: 0 !important;
	cursor: pointer;
}

.timer.play {
	cursor: pointer;
}

.time.reset {
	cursor: pointer;
}

.collection {
	border: none !important;
}
