{% extends 'admin/base.html.twig' %}

{% block body %}
<div id="adminContent">
  <a href="{{ path("app_admin_equipmentnew") }}" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Créer</a>
</div>

</div>

<div>
  <table class="striped responsive-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Item Name</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      {% for equipment in equipments %}
      <tr>
        <td>{{ equipment.name }}</td>
        <td></td>
        <td><a class='dropdown-trigger btn' href='#' data-target='dropdown-{{equipment.id}}'>Drop Me!</a></td>
      </tr>
      <ul id='dropdown-{{equipment.id}}' class='dropdown-content'>
        <li><a href="{{ path('app_admin_equipmentedit', {'id' : equipment.id }) }}">Editer</a></li>
      </ul>
      {% endfor %}
    </tbody>
  </table>

</div>

<script>
$(document).ready(function(){
  $('.dropdown-trigger').dropdown();
});
</script>
{% endblock %}
