{% extends 'admin/base.html.twig' %}

{% block body %}
<div id="adminContent">
  <a href="{{ path("app_admin_recipesnew") }}" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Créer</a>
  <a class='dropdown-trigger btn' href='#' data-target='import_recipe'>Importer</a>

  <ul id='import_recipe' class='dropdown-content'>
    <li><a href="{{ url('app_admin_importmarmiton') }}">Marmiton</a></li>
    <li><a href="{{ url('app_admin_import750g') }}">750g</a></li>
    <li><a href="{{ url('app_admin_importcuisineaz') }}">CuisineAZ</a></li>
  </ul>
</div>

</div>

<div>
  <table class="striped responsive-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for recipe in recipes %}
      <tr>
        <td>{{ recipe.name }}</td>
        <td><a class='dropdown-trigger btn' href='#' data-target='dropdown-{{recipe.id}}'>Drop Me!</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% for recipe in recipes %}
  <ul id='dropdown-{{recipe.id}}' class='dropdown-content'>
    <li><a href="{{ path('app_admin_recipesedit', {'id' : recipe.id }) }}">Editer</a></li>
    <li><a class="red-text" href="{{ path('app_admin_recipesdelete', {'id' : recipe.id }) }}">Supprimer</a></li>
  </ul>
  {% endfor %}

</div>

<script>
$(document).ready(function(){
  $('.dropdown-trigger').dropdown();
});
</script>
{% endblock %}
