{% extends 'admin/base.html.twig' %}

{% block body %}
{% form_theme form
'AppBundle:Form:recipe_has_part_field.html.twig'
'AppBundle:Form:part_has_ingredient_field.html.twig'
'AppBundle:Form:step_field.html.twig'
'AppBundle:Form:timer_field.html.twig'
'jquery.collection.html.twig'
%}

<div id="adminContent">
{{ form_start(form) }}
<div class="row">
{{ form_row(form.name) }}
</div>
<div class="row">
{{ form_row(form.category) }}
</div>
<div class="row">
{{ form_row(form.description) }}
</div>
<div class="row">
  <div class="col s4">
    {{ form_row(form.cookTime) }}
  </div>
  <div class="col s4">
    {{ form_row(form.preparationTime) }}
  </div>
  <div class="col s4">
    {{ form_row(form.restTime) }}
  </div>
</div>
<div class="row">
  <div class="col s4">
    {{ form_row(form.forPerson) }}
  </div>
  <div class="col s4">
    {{ form_row(form.note) }}
  </div>
</div>
<div class="row">
  <h5 class="teal-text">Parties :</h5>
  {{ form_row(form.parts) }}
</div>
<div class="row">
  <h5 class="teal-text">Étapes :</h5>
{{ form_row(form.steps) }}
</div>
{{ form_end(form) }}
</div>

<script src="{{ asset('bundles/app/js/jquery.collection.js') }}"></script>
<script src="{{ asset('bundles/app/js/jquery-ui.min.js') }}"></script>
<script>
var $collectionHolder;

// setup an "add a tag" link
var $addTagButton = $('<button type="button" class="add_tag_link btn">Ajouter</button>');
var $newLinkLi = $('<li></li>').append($addTagButton);

jQuery(document).ready(function() {
  // Get the ul that holds the collection of tags
  $collectionHolder = $('ul.array_collection');

  // add the "add a tag" anchor and li to the tags ul
  $collectionHolder.append($newLinkLi);

  // count the current form inputs we have (e.g. 2), use that as the new
  // index when inserting a new item (e.g. 2)
  $collectionHolder.data('index', $collectionHolder.find(':input').length);

  $addTagButton.on('click', function(e) {
    // add a new tag form (see next code block)
    addTagForm($collectionHolder, $newLinkLi);
  });
});

function addTagForm($collectionHolder, $newLinkLi) {
  // Get the data-prototype explained earlier
  console.log($collectionHolder.data('prototype'));
  var prototype = $collectionHolder.data('prototype');

  // get the new index
  var index = $collectionHolder.data('index');

  var newForm = prototype;
  // You need this only if you didn't set 'label' => false in your tags field in TaskType
  // Replace '__name__label__' in the prototype's HTML to
  // instead be a number based on how many items we have
  // newForm = newForm.replace(/__name__label__/g, index);

  // Replace '__name__' in the prototype's HTML to
  // instead be a number based on how many items we have
  newForm = newForm.replace(/__name__/g, index);

  // increase the index with one for the next item
  $collectionHolder.data('index', index + 1);

  // Display the form in the page in an li, before the "Add a tag" link li
  var $newFormLi = $('<li></li>').append(newForm);
  $newLinkLi.before($newFormLi);
  $('select').formSelect();
}

$(document).ready(function(){
  $('select').formSelect();
  $('.steps-collection').collection({
    init_with_n_elements: 0,
    up: '<div style="display:none;"></div>',
    down: '<div style="display:none;"></div>',
    position_field_selector: '.step-position'
  });
  $('.parts-collection').collection({
    init_with_n_elements: 0,
    after_add: function(collection, element) {
      $('select').formSelect();
      element.find('.ingredients-collection').collection({
        init_with_n_elements: 0,
        after_add: function(collection, element) { $('select').formSelect(); },
        up: '<div style="display:none;"></div>',
        down: '<div style="display:none;"></div>',
        position_field_selector: '.ingredient-position'
      });
    },
    up: '<div style="display:none;"></div>',
    down: '<div style="display:none;"></div>',
    position_field_selector: '.part-position'
  });
});
</script>
{% endblock %}
